*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.5s;
    user-select: none;
}

body
{
    background: rgb(2, 6, 54);
}

.navbar{
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px aqua;
    display: flex;
    align-items: center;
    background: black;
    color: white;
    padding: 3px 1%;

}

.nav-comp{
    /* border: 2px solid blue; */
    padding: 3px 1%;
    display: flex;
    align-items: center;
}

#logoimg
{
    /* border: 2px solid red; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px blue; */
}

.nav-tab
{
    align-self: center;
}

.nav-link{
    /* border: 2px solid red; */
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
}

.nav-link:hover
{
    /* border: 2px solid blue; */
    /* background: rgba(109, 241, 251, 0.493); */
    background: rgba(109, 149, 251, 0.311);
}

.game-details
{
    /* border: 2px solid red; */
    border-bottom: 1px solid rgba(0, 255, 255, 0.491);
    padding: 1% 2%;
    font-size: 0.9rem;

    color: aqua;
    list-style-type: circle;
}

.game-screen-container
{
    display: flex; 
    align-items: center;
    padding: 1% 1%;
    height: 70vh;
}

.game-screen
{
    /* border: 2px solid red; */
    border-radius: 10px;
    display: inline-block;
    width: 50%;
    height: 80%;
    margin: auto auto;
    padding: 1% 1%;
    background: rgb(0, 127, 196);
    color: rgb(3, 3, 68);

}

.game-upper
{
    background: rgb(44, 167, 238);
    padding: 3px 3px;
    height: 40%;
}

.game-range
{
    display: flex;
    justify-content: space-between;
}

.range-select
{
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.game-guess
{
    text-align: center;
}

.game-guess>h4
{
    font-size: 1.5em;
}

.game-lower
{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    background: rgb(79, 180, 211);
    padding: 3% 3px;
    height: 45%;
}

.game-lower-left
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin: auto auto;
}

.check-input
{
    outline: none; 
    background: rgb(8, 2, 55); 
    color: white;
    padding: 3px 3px;
}

.check-input::placeholder
{
    color: rgb(117, 238, 247);
}

.game-lower-right
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: auto auto;
}

.game-lower-right>h2
{
    display: flex;
    align-items: center;
}

.score-level
{
    width: 25px;
    padding: 0 3px 0 0;

}

.restart-btn, .check-btn
{
    padding: 3px 3px;
    background: transparent;
    color: rgb(21, 2, 104);
    font-weight: bold;
}

.restart-btn:hover, .check-btn:hover
{
    box-shadow: 4px 4px 0px black;
}

.restart-btn:active, .check-btn:active
{
    background: black;
    color: white;
}

.level-text
{
    padding: 0 5px;
}

.guessNo
{
    display: inline-block;
    width: 130px;
    transform: translate(0, 10%);
    background: rgb(1, 26, 102);
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 195, 255);
    padding: 0 2%;
}

